*{
    margin: 0;
    padding: 0;
}
#posts {
    border-style: groove;
    border-color: chartreuse;
    position: relative;
    width: 15%;
    padding: 10px 0px 10px 10px;
    left: 115px;
}
ul {
    position: relative;
    left: 30px;   
}
.mainDiv {
    margin-top: 15px;
}
#inputTitle{
    margin-bottom: 15px;
}
#inputAuthor {
    margin-bottom: 15px;
}
